//色
$white: #ffffff;
$chat-side-color: #2f3e51;
$side-header-box-color: #253141;
$light-blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

//高さ，幅
$chat-side-height: 300px;
$chat-main-width: calc(100vw - 300px);
$header-height: 100px;

//padding
$chat-main-padding: 0 40px;

//フォントサイズ
$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;
